# Python
__pycache__/
*.py[cod]
venv/
.env

# IDE
.idea/
.vscode/
.DS_Store

# Project specific
data/articles/
data/raw/
data/processed/
*.xml
*.tsv
*.csv
!data/filter_data.py

# Logs and databases
*.log
*.sqlite
*.db

# Streamlit
.streamlit/ 